{
    "mqtt":{
            "number":"",
            "mqtt_server":"127.0.0.1",
            "mqtt_port":1883,
            "mqtt_user":"",
            "mqtt_password":""
        },
    "model":{
        "video":["person","person_head","alarm_fumes","alarm_fire","behavior_smoking","behavior_call","behavior_look_phone"],
        "safety_cap":["cap"]
    }
}
