{
    "modelConfig": [
        {
            "name": "video",
            "imageSize": 640,
            "confValue": 0.78,
            "iouThres": 0.5,
            "device": "cpu"
        },
        {
            "name": "cap",
            "imageSize": 160,
            "confValue": 0.25,
            "iouThres": 0.45,
            "device": "cpu"
        },
        {
            "name": "uniform",
            "imageSize": 480,
            "confValue": 0.25,
            "iouThres": 0.45,
            "device": "cpu"
        },
        {
            "name": "reflective",
            "imageSize": 480,
            "confValue": 0.25,
            "iouThres": 0.45,
            "device": "cpu"
        }
    ],
    "labelConfig": [
        {
            "name": "person",
            "confValue": 0.45
        },
        {
            "name": "person_head",
            "confValue": 0.45
        },
        {
            "name": "alarm_fumes",
            "confValue": 0.25
        },
        {
            "name": "alarm_fire",
            "confValue": 0.45
        },
        {
            "name": "behavior_smoking",
            "confValue": 0.25
        },
        {
            "name": "behavior_call",
            "confValue": 0.25
        },
        {
            "name": "behavior_look_phone",
            "confValue": 0.25
        },
        {
            "name": "safety_cap",
            "confValue": 0.25
        },
        {
            "name": "upper_body",
            "confValue": 0.3
        },
        {
            "name": "lower_body",
            "confValue": 0.3
        }
    ]
}